@import "sadui/sadui",
        "sadui/components";

/* Template */

@import "normalize";

$container: 760px;
$margin: 20px;
$linkColor: blue;

html, html body, body {
    background-color: tan;
}

.wrapper {
    width: $container;
    margin: auto;
}

#header {
    position: relative;
    h1 {
        position: absolute;
        bottom: $margin;
        left: $margin;
    }
}

.hero {
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}

#main {
    section {
        margin-top: $margin;
        border-top: 1px solid darken(tan, 20);
        &:first-child {
            margin-top: 0;
            border-top: 0 none;
        }
    }
    a {
        color: $linkColor;
        text-decoration: none;
    }
}


/* components */
/* These will eventually be themes */

.button-lg {
    $base: 0.25em;

    padding-top: $base;
    padding-bottom: $base;
    padding-left: $base*4;
    padding-right: $base*4;

    text-transform: uppercase;

    .button-label {}
    .button-icon {}

    > * {
        margin-left: ($base);
        &:first-child {
            margin-left: 0;
        }
    }
}

.button-md {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.25em;
    padding-right: 1.25em;

    .button-label {}
    .button-icon {}

    > * {
        margin-left: (1.25em / 2);
        padding-left: (1.25em / 2);
        border-left: 1px solid $colorWhite;
        &:first-child {
            margin-left: 0;
            padding-left: 0;
            border-left: 0 none;
        }
    }
}

.button-sm {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;

    .button-label {}
    .button-icon {}

    > * {
        margin-left: (1em / 2);
        &:first-child {
            margin-left: 0;
        }
    }
}

.button-default {

    background: $colorInactive;
    
    @include box-shadow(rgba($colorWhite, 0.1) 0 2px 3px inset, 
        rgba($colorWhite, 0.1) 1px 0 2px inset, 
        rgba($colorWhite, 0.1) -1px 0 2px inset);

    &[type="submit"],
    &.is-submit {
        background: $colorInactive;
    }

}

.pretty-checkradio {

    width: $margin;
    height: $margin;

    background: $colorInactive;

    &.is-selected {
        background: $colorActive;
    }

    &.is-disabled {
        @include opacity(0.5);
    }

}

.overlay {
    @include opacity(0);
    @include transition-property(opacity);
    @include transition-duration($transitionDurationBase / 2);
    @include transition-timing-function(ease-out);

    &.is-visible {
        @include opacity(1);
        @include transition-property(opacity);
        @include transition-duration($transitionDurationBase / 2);
        @include transition-timing-function(ease-out);
    }
}

.modal {

    margin-top: $margin;
    margin-bottom: $margin;

    @include opacity(0);
    @include transition-property(opacity);
    @include transition-duration($transitionDurationBase / 2);
    @include transition-timing-function(ease-out);

    &.is-visible {
        @include opacity(1);
        @include transition-property(opacity);
        @include transition-duration($transitionDurationBase / 2);
        @include transition-timing-function(ease-out);
    }
}

.modal-sm {
    width: $container;
}