@import "../sadui";

.modal {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    height: 0;

    z-index: $zDialog + 1;

    background: $colorWhite;

    .modal-wrapper {
        display: none;
    }

    &.is-visible {
        height: inherit;

        .modal-wrapper {
            display: block;
        }
    }
}

.modal-generic {

    .modal-close-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
    
    .close-icon {}

    .modal-content-wrapper {}

}