@import "../sadui";

.play-button-container {
    cursor: pointer;
    display: block;
    position: relative;
    .play-button {
        position: relative;
        margin: auto;
    }

    &:hover {
        .play-button {
            background: rgba($colorBlack, 0.9);
        }
    }
    &:active,
    &.is-click {
        .play-button-arrow {
        }
        .play-button-arrow-shadow {
            visibility: hidden;
        }
    }
}
.play-button {
    display: block;
    background: rgba($colorBlack, 0.5);

    width: 8em;
    height: 5em;
    
    .play-button-arrow {
        width: 0;
        height: 0;
        position: absolute;
        z-index: $zModule+2;
        top: 50%;
        left: 50%;
        margin-top: -0.95em;
        margin-left: -0.35em;

        border-top: $playButtonArrowSize solid transparent;
        border-bottom: $playButtonArrowSize solid transparent;
        border-left: $playButtonArrowSize solid $colorWhite;
    }

    .play-button-arrow-shadow {
        @extend .play-button-arrow;
        border-left-color: $colorBlack;
        // top: 32%;
        z-index: $zModule+1;
    }
}