@import "../sadui";

.pretty-dropdown {
    @include inline-block;
    @include user-select(none);

    position: relative;//*crosses fingers*

    cursor: pointer;

    .pretty-dropdown-layer {
        width: 100%;
        padding: 0;
        position: relative;

        @include border-radius(0.1em);
        border: 1px solid (darken($colorInactive, 10));
        @include background-image(linear-gradient(top, $colorInactive, $colorActive));
    }
    .pretty-dropdown-label {}
    .pretty-dropdown-icon {}

    select {
        width: 100%;
        position: absolute;
        z-index: $zTemplate + 1;
        top: 0;
        right: 0;
        left: 0;
        @include opacity(0);
        background: $colorInactive;// for some reason gives layout

        height: 100%;
        line-height: 100%;
        background-color: transparent;
    }

    .pretty-dropdown-icon-container {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid (darken($colorInactive, 20));

        text-align: center;

        .pretty-dropdown-icon {
            @include hide-text;
            @include inline-block;
            margin: auto;
            vertical-align: middle;
        }
    }

    @include opacity(1);
    @include transition-property(opacity);
    @include transition-duration($transitionDurationBase / 4);
    @include transition-timing-function(ease-out);

    &.is-disabled {
        @include opacity(0.2);
    }
}

.pretty-dropdown-sm {
    $dropdownHeight: 1.25em;
    $iconAreaWidth: 1.25em;

    .pretty-dropdown-layer {
        > * {
            line-height: $dropdownHeight;
            height: $dropdownHeight;
        }
    }
    .pretty-dropdown-label {
        margin-left: 0.5em;
    }
    .pretty-dropdown-icon-container {
        width: $iconAreaWidth;
    }
}

.pretty-dropdown-lg {
    $dropdownHeight: 2.5em;
    $iconAreaWidth: 2.5em;

    .pretty-dropdown-layer {
        > * {
            line-height: $dropdownHeight;
            height: $dropdownHeight;
        }
    }
    .pretty-dropdown-label {
        margin-left: 1em;
    }
    .pretty-dropdown-icon-container {
        width: $iconAreaWidth;
    }
}